Repository XiaoMi/hiui, pull requests merged in 2022-12, with the labels that each got.

#2336 feat(form): #2335
  .changeset/hip-comics-shake.md
  .changeset/soft-rats-sip.md
  packages/ui/form/src/FormList.tsx
  packages/ui/form/src/types.ts
  packages/ui/form/stories/list.stories.tsx
Labels: PR: New feature 👍, comp:form, 4.x

#2322 feat(table): #2318
  .changeset/funny-cars-collect.md
  .changeset/happy-fishes-appear.md
  packages/ui/table/src/Table.tsx
  packages/ui/table/src/hooks/use-pagination.ts
  packages/ui/table/src/types.ts
  packages/ui/table/stories/data-source.stories.tsx
  packages/ui/table/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#2260 feat(spinner&loading): 增加环形loading组件
  packages/ui/hiui/package.json
  packages/ui/hiui/src/index.ts
  packages/ui/loading/package.json
  packages/ui/loading/src/Loading.tsx
  packages/ui/loading/src/use-loading.ts
  packages/ui/loading/stories/index.stories.tsx
  packages/ui/loading/stories/type.stories.tsx
  packages/ui/spinner/src/Spinner.tsx
  packages/ui/spinner/src/styles/spinner.scss
  packages/ui/spinner/stories/basic.stories.tsx
  packages/ui/spinner/stories/index.stories.tsx
  packages/ui/spinner/stories/size.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:loading, comp:spinner

#2337 Develop
  packages/ui/hiui/package.json
  packages/ui/hiui/src/index.ts
  packages/ui/loading/package.json
  packages/ui/loading/src/Loading.tsx
  packages/ui/loading/src/use-loading.ts
  packages/ui/loading/stories/index.stories.tsx
  packages/ui/loading/stories/type.stories.tsx
  packages/ui/spinner/src/Spinner.tsx
  packages/ui/spinner/src/styles/spinner.scss
  packages/ui/spinner/stories/basic.stories.tsx
  packages/ui/spinner/stories/index.stories.tsx
  packages/ui/spinner/stories/size.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:loading, comp:spinner

#2338 chore: 将Changesets中暂时不发布的变更移入到pending中
  .changeset/pending/curvy-bobcats-look.md
  .changeset/pending/funny-cars-collect.md
  .changeset/pending/happy-fishes-appear.md
  .changeset/pending/lazy-humans-draw.md
  .changeset/pending/popular-plants-film.md
  .changeset/pending/shaggy-falcons-peel.md
  .changeset/pending/yellow-rings-turn.md
Labels: 4.x, ci

#2320 Feature/table virtual list
  packages/ui/table/src/BaseTable.tsx
  packages/ui/table/src/Table.tsx
  packages/ui/table/src/TableBody.tsx
  packages/ui/table/src/TableCell.tsx
  packages/ui/table/src/TableRow.tsx
  packages/ui/table/src/context.ts
  packages/ui/table/src/hooks/use-col-width.ts
  packages/ui/table/src/styles/table.scss
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/index.stories.tsx
  packages/ui/table/stories/virtual.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#2339 chore: 增加.changeset-pending文件夹存放不需要操作的变更记录
  .changeset-pending/curvy-bobcats-look.md
  .changeset-pending/eighty-tips-sneeze.md
  .changeset-pending/empty-llamas-sip.md
  .changeset-pending/funny-cars-collect.md
  .changeset-pending/happy-fishes-appear.md
  .changeset-pending/lazy-humans-draw.md
  .changeset-pending/popular-plants-film.md
  .changeset-pending/shaggy-falcons-peel.md
  .changeset-pending/yellow-rings-turn.md
Labels: 4.x, ci

#2342 feature/#2319
  packages/ui/table/src/Table.tsx
  packages/ui/table/src/TableSettingMenu.tsx
  packages/ui/table/src/hooks/use-col-set.ts
  packages/ui/table/stories/setting.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#2347 Hotfix/#2346
  .changeset/little-camels-look.md
  .changeset/shy-crabs-care.md
  .github/workflows/release.yml
  packages/ui/form/src/FormItem.tsx
  packages/ui/form/src/FormLabel.tsx
  packages/ui/form/src/styles/form.scss
  packages/ui/form/stories/list.stories.tsx
  packages/ui/upload/stories/async-upload-action.stories.tsx
Labels: ui, comp:form, 4.x

#2351 feat(tree): #2350
  .changeset/itchy-brooms-sell.md
  .changeset/wet-pugs-juggle.md
  packages/ui/tree/src/use-tree-search.tsx
  packages/ui/tree/stories/custom-search.stories.tsx
Labels: PR: New feature 👍, comp:tree, 4.x

#2354 fix(tree): #2353
  .changeset/olive-doors-wash.md
  .changeset/purple-pans-accept.md
  packages/ui/tree/src/use-tree-search.tsx
Labels: bug, comp:tree, 4.x

#2357 Feature/#2355 EllipsisTooltip 文字省略组件开发
  .changeset/warm-poets-shake.md
  packages/ui/ellipsis-tooltip/README.md
  packages/ui/ellipsis-tooltip/__tests__/ellipsis-tooltip.test.js
  packages/ui/ellipsis-tooltip/jest.config.js
  packages/ui/ellipsis-tooltip/package.json
  packages/ui/ellipsis-tooltip/src/EllipsisTooltip.tsx
  packages/ui/ellipsis-tooltip/src/index.ts
  packages/ui/ellipsis-tooltip/src/styles/ellipsis-tooltip.scss
  packages/ui/ellipsis-tooltip/src/styles/index.scss
  packages/ui/ellipsis-tooltip/src/types.ts
  packages/ui/ellipsis-tooltip/stories/basic.stories.tsx
  packages/ui/ellipsis-tooltip/stories/index.stories.tsx
  packages/ui/ellipsis-tooltip/tsconfig.json
  packages/ui/hiui/package.json
  packages/ui/hiui/src/index.ts
Labels: PR: New feature 👍, 4.x, ellipsistooltip

#2359 fix(tree): #2358
  .changeset/proud-parrots-float.md
  .changeset/tidy-trains-drop.md
  packages/ui/tree/src/use-tree-search.tsx
Labels: bug, comp:tree, 4.x

#2363 fix(modal): #2362
  .changeset/large-feet-battle.md
  .changeset/perfect-eyes-learn.md
  packages/ui/hiui/package.json
  packages/ui/hiui/src/index.ts
  packages/ui/modal/src/use-modal.ts
Labels: ue, comp:modal, 4.x

#2361 fix(slider): #2360
  .changeset-pending/warm-poets-shake.md
  .changeset/cold-bugs-protect.md
  .changeset/tough-tigers-walk.md
  packages/ui/slider/src/Slider.tsx
Labels: ui, 4.x, comp:slider
