Repository XiaoMi/hiui, pull requests merged in 2022-08, with the labels that each got.

#2199 chore: update designtoken types
  packages/ui/provider/src/types.ts
Labels: PR: Bug fix 🔧, 4.x

#2200 fix(space):修复item宽度问题
  .gitignore
  packages/ui/space/src/styles/space.scss
  packages/ui/space/stories/auto-size.stories.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:space

#2198 fix(progress): show numerical overflow percent is 56
  packages/ui/progress/src/Progress.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:progress

#2201 chore: update lerna config
  lerna.json
Labels: 4.x

#2202 Next/4.0
  packages/ui/hiui/package.json
  packages/ui/progress/package.json
Labels: 4.x

#2203 fix: 修复item宽度样式问题
  CONTRIBUTING.md
  packages/ui/space/src/Space.tsx
  packages/ui/space/src/styles/space.scss
Labels: PR: Bug fix 🔧, 4.x, comp:space

#2207 fix(table): fix scrollWidth not work
  packages/ui/table/src/TableBody.tsx
  packages/ui/table/src/use-table.ts
Labels: PR: Bug fix 🔧, comp:table, 4.x

#2195 Feature/input group
  .hygen/create/ui-pro/stories/index.stories.tsx.t
  .hygen/create/ui/stories/index.stories.tsx.t
  packages/ui/input-group/README.md
  packages/ui/input-group/__tests__/input-group.test.js
  packages/ui/input-group/hi-docs.config.mdx
  packages/ui/input-group/jest.config.js
  packages/ui/input-group/package.json
  packages/ui/input-group/src/InputGroup.tsx
  packages/ui/input-group/src/index.ts
  packages/ui/input-group/src/styles/index.scss
  packages/ui/input-group/src/styles/input-group.scss
  packages/ui/input-group/stories/basic.stories.tsx
  packages/ui/input-group/stories/group.stories.tsx
  packages/ui/input-group/stories/index.stories.tsx
  packages/ui/input-group/tsconfig.json
  packages/ui/input/src/styles/input.scss
  packages/ui/input/src/styles/mock-input.scss
  packages/ui/time-picker/src/styles/input.scss
Labels: PR: New feature 👍, 4.x, comp:inputgroup

#2206 Feature/anchor
  packages/hooks/use-registry/README.md
  packages/hooks/use-registry/__tests__/use-registry.test.js
  packages/hooks/use-registry/jest.config.js
  packages/hooks/use-registry/package.json
  packages/hooks/use-registry/src/index.ts
  packages/hooks/use-registry/tsconfig.json
  packages/ui/anchor/README.md
  packages/ui/anchor/__tests__/anchor.test.js
  packages/ui/anchor/hi-docs.config.mdx
  packages/ui/anchor/jest.config.js
  packages/ui/anchor/package.json
  packages/ui/anchor/src/Anchor.tsx
  packages/ui/anchor/src/context.ts
  packages/ui/anchor/src/index.ts
  packages/ui/anchor/src/styles/anchor.scss
  packages/ui/anchor/src/styles/index.scss
  packages/ui/anchor/src/use-anchor.ts
  packages/ui/anchor/src/utils/index.ts
  packages/ui/anchor/stories/basic.stories.tsx
  packages/ui/anchor/stories/children.stories.tsx
  packages/ui/anchor/stories/index.stories.tsx
  packages/ui/anchor/stories/offset.stories.tsx
  packages/ui/anchor/stories/overflow.stories.tsx
  packages/ui/anchor/tsconfig.json
  packages/utils/dom-utils/src/index.ts
Labels: PR: New feature 👍, 4.x

#2170 Next/4.0 scrollbar
  packages/ui/scrollbar/README.md
  packages/ui/scrollbar/__tests__/scrollbar.test.js
  packages/ui/scrollbar/hi-docs.config.mdx
  packages/ui/scrollbar/jest.config.js
  packages/ui/scrollbar/package.json
  packages/ui/scrollbar/src/Scrollbar.tsx
  packages/ui/scrollbar/src/index.ts
  packages/ui/scrollbar/src/styles/index.scss
  packages/ui/scrollbar/src/styles/scrollbar.scss
  packages/ui/scrollbar/src/types.ts
  packages/ui/scrollbar/src/utils/index.ts
  packages/ui/scrollbar/stories/axes.stories.tsx
  packages/ui/scrollbar/stories/basic.stories.tsx
  packages/ui/scrollbar/stories/config.stories.tsx
  packages/ui/scrollbar/stories/event.stories.tsx
  packages/ui/scrollbar/stories/index.stories.tsx
  packages/ui/scrollbar/tsconfig.json
  yarn.lock
Labels: PR: New feature 👍, 4.x, comp:scrollbar

#2216 fix(table): on load children error
  packages/ui/table/hi-docs.config.mdx
  packages/ui/table/src/hooks/use-async-switch.ts
  packages/ui/table/stories/basic.stories.tsx
  packages/ui/table/stories/index.stories.tsx
  packages/ui/table/stories/on-load-children.stories.tsx
  packages/utils/tree-utils/src/index.ts
Labels: bug, comp:table, 4.x
