Repository XiaoMi/hiui, pull requests merged in 2023-10, with the labels that each got.

#2612 fix(select&cascader&dropdown&upload): 修改列表菜单项高度
  .changeset/clever-rabbits-smoke.md
  .changeset/fresh-garlics-attack.md
  packages/ui/cascader/src/styles/cascader.scss
  packages/ui/cascader/stories/select-change.stories.tsx
  packages/ui/check-cascader/src/styles/check-cascader.scss
  packages/ui/check-cascader/stories/select-change.stories.tsx
  packages/ui/check-select/src/styles/check-select.scss
  packages/ui/check-select/stories/appearance.stories.tsx
  packages/ui/check-select/stories/clearable.stories.tsx
  packages/ui/check-select/stories/controlled.stories.tsx
  packages/ui/check-select/stories/display-render.stories.tsx
  packages/ui/check-select/stories/filter-options.stories.tsx
  packages/ui/check-select/stories/footer.stories.tsx
  packages/ui/check-select/stories/pinyin.stories.tsx
  packages/ui/check-select/stories/tip.stories.tsx
  packages/ui/check-select/stories/title-render.stories.tsx
  packages/ui/check-select/stories/uncontrolled.stories.tsx
  packages/ui/dropdown/src/Dropdown.tsx
  packages/ui/dropdown/stories/size.stories.tsx
  packages/ui/select/src/styles/select.scss
  packages/ui/select/stories/appearance.stories.tsx
  packages/ui/select/stories/basic.stories.tsx
  packages/ui/select/stories/clearable.stories.tsx
  packages/ui/select/stories/controlled.stories.tsx
  packages/ui/select/stories/display-render.stories.tsx
  packages/ui/select/stories/filter-options.stories.tsx
  packages/ui/select/stories/footer.stories.tsx
  packages/ui/select/stories/pinyin.stories.tsx
  packages/ui/select/stories/size.stories.tsx
  packages/ui/select/stories/tip.stories.tsx
  packages/ui/select/stories/title-render.stories.tsx
  packages/ui/select/stories/uncontrolled.stories.tsx
  packages/ui/upload/src/styles/upload.scss
Labels: ui, comp:dropdown, comp:select, comp:cascader, 4.x, comp:checkselect, comp:checkcascader, comp:upload

#2613 feat(tree): 增加 scrollTo 方法
  .changeset/green-teachers-travel.md
  .changeset/sixty-fishes-tan.md
  packages/ui/tree/src/Tree.tsx
  packages/ui/tree/src/types.ts
  packages/ui/tree/stories/index.stories.tsx
  packages/ui/tree/stories/scroll-to.stories.tsx
Labels: PR: New feature 👍, comp:tree, 4.x

#2614 feat(date-picker): #2610
  .changeset/brave-goats-hide.md
  .changeset/yellow-trees-sneeze.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/calendar.tsx
  packages/ui/date-picker/src/hooks/useCalenderData.tsx
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/stories/cell-render.stories.tsx
  packages/ui/date-picker/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:datepicker, 4.x

#2617 fix(badge): #2616
  packages/ui/badge/src/Badge.tsx
  packages/ui/badge/stories/color.stories.tsx
Labels: bug, comp:badge, 4.x

#2623 fix(tree): #2622 编辑框onKeyDown事件增加阻止冒泡处理
  .changeset/clean-jars-shop.md
  .changeset/stale-impalas-hunt.md
  packages/ui/tree/src/use-tree-action.tsx
Labels: bug, comp:tree, 4.x

#2624 fix(descriptions): #2619
  .changeset/mighty-foxes-jog.md
  .changeset/shiny-foxes-attack.md
  packages/ui/descriptions/src/styles/descriptions.scss
Labels: bug, 4.x, comp:descriptions

#2631 feat(date-picker): #2621
  .changeset/eighty-terms-agree.md
  .changeset/funny-peaches-carry.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/calendar.tsx
  packages/ui/date-picker/src/components/input.tsx
  packages/ui/date-picker/src/components/panel.tsx
  packages/ui/date-picker/src/components/range-panel.tsx
  packages/ui/date-picker/src/components/root.tsx
  packages/ui/date-picker/src/hooks/useCalenderData.tsx
  packages/ui/date-picker/src/hooks/useData.ts
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/src/utils/index.tsx
  packages/ui/date-picker/stories/cell-render.stories.tsx
Labels: PR: New feature 👍, comp:datepicker, 4.x

#2620 Hotfix/menu(#2618)
  .changeset/pink-jokes-flow.md
  .changeset/shiny-rivers-jam.md
  .changeset/stupid-meals-repair.md
  packages/ui/menu/src/MenuItem.tsx
  packages/ui/menu/src/styles/menu.scss
Labels: PR: Bug fix 🔧, 4.x, comp:menu

#2634 feat(date-picker): add footerRender api (#2630)
  .changeset/popular-cameras-burn.md
  .changeset/red-carrots-jam.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/date-range-time-panel.tsx
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/stories/footer-render.stories.tsx
  packages/ui/date-picker/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:datepicker, 4.x

#2633 Feature/select(#2627)
  .changeset/light-moons-juggle.md
  .changeset/rude-garlics-tickle.md
  .changeset/three-dryers-collect.md
  .changeset/unlucky-lizards-sleep.md
  packages/hooks/use-search-mode/package.json
  packages/hooks/use-search-mode/src/index.ts
Labels: PR: Bug fix 🔧, comp:select, 4.x, comp:checkselect

#2642 Perf/table
  .changeset/cyan-hotels-fix.md
  .changeset/polite-beds-dream.md
  packages/ui/table/src/BaseTable.tsx
  packages/ui/table/src/ColGroupContent.tsx
  packages/ui/table/src/Table.tsx
  packages/ui/table/src/TableBody.tsx
  packages/ui/table/src/TableHeader.tsx
  packages/ui/table/src/TbodyContent.tsx
  packages/ui/table/src/TheadContent.tsx
  packages/ui/table/src/hooks/use-col-width.ts
  packages/ui/table/src/styles/table.scss
  packages/ui/table/src/use-table.ts
Labels: comp:table, 4.x, performance

#2644 fix(textarea): 禁用状态背景色改为G10 (#2637)
  .changeset/chatty-singers-sin.md
  .changeset/eight-jars-roll.md
  packages/ui/textarea/src/styles/textarea.scss
  packages/ui/textarea/stories/disabled.stories.tsx
  packages/ui/textarea/stories/index.stories.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:textarea

#2647 feat(table): add footerRender api (#2638)
  .changeset/friendly-phones-return.md
  .changeset/smooth-ways-smash.md
  packages/ui/table/src/BaseTable.tsx
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/footer-render.stories.tsx
  packages/ui/table/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#2648 perf(table): 优化resizable模式下可调整的最小列宽 (#2639)
  .changeset/blue-glasses-nail.md
  .changeset/silent-lions-yawn.md
  packages/ui/table/src/TheadContent.tsx
  packages/ui/table/src/hooks/use-col-width.ts
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/custom-filter.stories.tsx
  packages/ui/table/stories/resizable.stories.tsx
Labels: ue, ui, comp:table, 4.x

#2649 chore(icons): add icon
  packages/icons/icon-resources/common/filled/car.svg
  packages/icons/icon-resources/common/filled/send-out.svg
  packages/icons/icon-resources/common/filled/talk.svg
  packages/icons/icon-resources/common/outlined/data-export.svg
  packages/icons/icon-resources/common/outlined/robot.svg
  packages/icons/icon-resources/common/outlined/talk.svg
  packages/icons/icon-resources/common/outlined/text-extraction.svg
  packages/icons/icon-resources/edit/filled/filter 1.svg
  packages/icons/package.json
  packages/icons/src/components/common/car-filled.tsx
  packages/icons/src/components/common/data-export-outlined.tsx
  packages/icons/src/components/common/robot-outlined.tsx
  packages/icons/src/components/common/send-out-filled.tsx
  packages/icons/src/components/common/talk-filled.tsx
  packages/icons/src/components/common/talk-outlined.tsx
  packages/icons/src/components/common/text-extraction-outlined.tsx
  packages/icons/src/components/edit/filter-filled.tsx
  packages/icons/src/icon-summation.ts
  packages/icons/stories/basic.stories.tsx
Labels: 4.x, comp:icons
