Repository XiaoMi/hiui, pull requests merged in 2023-05, with the labels that each got.

#2469 feat(counter&number-input): #2386
  .changeset/eleven-pumas-taste.md
  .changeset/mean-dancers-stare.md
  packages/ui/counter/src/Counter.tsx
  packages/ui/counter/src/use-counter.ts
  packages/ui/number-input/stories/formatter.stories.tsx
  packages/ui/number-input/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:counter, comp:numberinput

#2468 feat(textarea): #2464
  .changeset/cool-forks-beam.md
  .changeset/sweet-frogs-film.md
  packages/ui/textarea/src/TextArea.tsx
  packages/ui/textarea/src/styles/textarea.scss
  packages/ui/textarea/stories/header.stories.tsx
  packages/ui/textarea/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:textarea

#2473 fix: scan bugs
  .changeset/big-horses-march.md
  .changeset/rare-berries-sit.md
  packages/ui/anchor/src/use-anchor.ts
  packages/ui/table/src/TableBody.tsx
  packages/ui/table/src/hooks/use-col-frozen.ts
  packages/ui/table/src/hooks/use-colgroup.ts
  packages/ui/table/stories/data-sorter.stories.tsx
  packages/ui/tree/src/TreeNode.tsx
  packages/ui/tree/src/hooks/use-drag.ts
  packages/ui/tree/src/hooks/use-focus.ts
  packages/ui/tree/src/use-tree-action.tsx
  packages/ui/upload/src/AvatarUpload.tsx
  packages/ui/upload/src/DragUpload.tsx
  packages/ui/upload/src/hooks/use-upload.ts
Labels: not a problem, 4.x

#2474 chore: 将 changeset-pending 中的变更文件移到 changeset 目录中
  .changeset-pending/curvy-bobcats-look.md
  .changeset-pending/empty-llamas-sip.md
  .changeset-pending/happy-fishes-appear.md
  .changeset-pending/lazy-humans-draw.md
  .changeset-pending/little-bananas-remain.md
  .changeset-pending/little-melons-refuse.md
  .changeset-pending/popular-plants-film.md
  .changeset-pending/shaggy-falcons-peel.md
  .changeset/curvy-bobcats-look.md
  .changeset/eighty-tips-sneeze.md
  .changeset/funny-cars-collect.md
  .changeset/great-cobras-beam.md
  .changeset/great-toes-ring.md
  .changeset/happy-fishes-appear.md
  .changeset/little-bananas-remain.md
  .changeset/little-melons-refuse.md
  .changeset/mean-cows-brake.md
  .changeset/popular-plants-film.md
  .changeset/shaggy-falcons-peel.md
  .changeset/tidy-geese-trade.md
  .changeset/yellow-rings-turn.md
  .github/workflows/release.yml
Labels: not a problem, 4.x

#2476 chore: 优化组件示例
  packages/ui/back-top/stories/basic.stories.tsx
  packages/ui/table/stories/col-menu.stories.tsx
  packages/ui/table/stories/custom-filter.stories.tsx
  packages/ui/table/stories/setting-drawer.stories.tsx
  packages/ui/table/stories/virtual.stories.tsx
Labels: docs, 4.x

#2481 fix(date-picker): #2479
  .changeset/early-lobsters-heal.md
  .changeset/friendly-walls-sell.md
  packages/ui/date-picker/src/hooks/useTimePickerFormat.ts
Labels: bug, comp:datepicker, 4.x

#2482 fix(selct&check-select): #2480
  .changeset/honest-pianos-fly.md
  .changeset/lazy-roses-bathe.md
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/select/src/Select.tsx
Labels: ue, comp:select, 4.x, comp:checkselect

#2484 fix(input&date-picker): #2483
  .changeset/clean-weeks-pump.md
  .changeset/fluffy-impalas-help.md
  .changeset/strange-turtles-taste.md
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/input/src/styles/input.scss
Labels: ui, comp:input, comp:datepicker, 4.x

#2487 fix(drawer): #2485
  .changeset/large-moons-care.md
  .changeset/nice-parrots-run.md
  packages/ui/drawer/package.json
  yarn.lock
Labels: dependencies, comp:drawer, 4.x

#2489 fix(counter): #2488
  .changeset/kind-llamas-add.md
  .changeset/silver-onions-explain.md
  packages/ui/counter/src/Counter.tsx
  packages/ui/counter/src/use-counter.ts
  packages/ui/counter/stories/controlled.stories.tsx
  packages/ui/number-input/stories/controlled.stories.tsx
  packages/ui/number-input/stories/formatter.stories.tsx
Labels: ue, 4.x, comp:counter, comp:numberinput

#2491 fix(dropdown): #2490
  .changeset/rude-beds-bake.md
  .changeset/wet-taxis-jam.md
  packages/ui/dropdown/src/Dropdown.tsx
  packages/ui/dropdown/src/styles/dropdown.scss
Labels: ui, comp:dropdown, 4.x

#2492 fix(pagination): 兼容 useCounter 中 onChange 类型
  .changeset/dirty-dots-wonder.md
  .changeset/many-insects-drive.md
  packages/ui/pagination/src/ShrinkPagination.tsx
Labels: bug, comp:pagination, 4.x

#2495 fix(drawer): #2494
  .changeset/curvy-crabs-brush.md
  .changeset/tender-rats-exist.md
  packages/ui/drawer/src/Drawer.tsx
  packages/ui/drawer/src/styles/drawer.scss
Labels: bug, comp:drawer, 4.x

#2498 fix(counter&number-input): #2496
  .changeset/early-dolls-destroy.md
  .changeset/early-wasps-crash.md
  packages/ui/counter/src/Counter.tsx
  packages/ui/counter/src/use-counter.ts
  packages/ui/number-input/stories/formatter.stories.tsx
Labels: bug, 4.x, comp:counter, comp:numberinput
