Repository XiaoMi/hiui, pull requests merged in 2023-07, with the labels that each got.

#2535 perf(icons): #2502
  .changeset/seven-hairs-greet.md
  packages/icons/package.json
Labels: 4.x, comp:icons

#2534 fix: #2533
  .changeset/big-apricots-work.md
  .changeset/fifty-cycles-jam.md
  packages/ui/textarea/src/styles/textarea.scss
Labels: bug, 4.x, comp:textarea

#2538 feat(counter&number-input): #2537
  .changeset/orange-colts-brush.md
  .changeset/slimy-walls-wash.md
  packages/ui/counter/src/use-counter.ts
  packages/ui/number-input/src/styles/number-input.scss
  packages/ui/number-input/stories/basic.stories.tsx
Labels: 4.x, comp:counter, comp:numberinput

#2544 fix(descriptions): bugfix
  packages/ui/descriptions/src/Descriptions.tsx
Labels: bug, 4.x, comp:descriptions

#2545 fix(menu): 体验优化
  .changeset/short-mice-move.md
  .changeset/ten-toys-wonder.md
  packages/ui/menu/src/Menu.tsx
Labels: bug, 4.x, comp:menu

#2548 chore: settings.json增加stylelint.validate配置
  .vscode/settings.json
Labels: not a problem, 4.x

#2547 fix(collapse): #2546
  .changeset/little-masks-argue.md
  .changeset/strange-flies-switch.md
  packages/ui/collapse/src/styles/collapse-panel.scss
Labels: ui, comp:collapse, 4.x

#2550 chore(descriptions): 添加变更记录文件
  .changeset/olive-dancers-invent.md
  .changeset/pink-snakes-lay.md
Labels: not a problem, 4.x

#2552 fix(upload): #2549
  .changeset/nice-berries-turn.md
  .changeset/three-mirrors-leave.md
  packages/ui/upload/src/styles/upload.scss
  packages/ui/upload/src/utils.ts
  packages/ui/upload/stories/draggable.stories.tsx
Labels: bug, 4.x, comp:upload

#2553 feat(preview): #2541
  .changeset/slow-humans-drive.md
  .changeset/strong-feet-invite.md
  packages/ui/preview/src/Preview.tsx
  packages/ui/preview/src/styles/preview.scss
  packages/ui/preview/stories/index.stories.tsx
  packages/ui/preview/stories/multiple.stories.tsx
Labels: PR: New feature 👍, comp:preview, 4.x

#2557 feat(table): #2555
  .changeset/blue-rats-bow.md
  .changeset/plenty-panthers-confess.md
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/index.stories.tsx
  packages/ui/table/stories/max-height.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#2558 feat(table): #2556
  .changeset/long-starfishes-relate.md
  .changeset/orange-brooms-shave.md
  .changeset/rude-moles-unite.md
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/table-tree.stories.tsx
  packages/utils/tree-utils/src/index.ts
Labels: PR: New feature 👍, comp:table, 4.x
