Repository XiaoMi/hiui, pull requests merged in 2024-11, with the labels that each got.

#2978 feat(table): 将表格中的交互统一加上回调事件 (#2977)
  .changeset/fuzzy-radios-know.md
  .changeset/shy-coats-crash.md
  packages/ui/table/src/TableColumnMenu.tsx
  packages/ui/table/src/hooks/use-change.ts
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/col-menu.stories.tsx
  packages/ui/table/stories/data-sorter.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#3015 feat(select&check-select): Add searchOnInit api (#3004)
  .changeset/clever-monkeys-speak.md
  .changeset/rude-ways-look.md
  packages/hooks/use-search-mode/src/index.ts
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/check-select/stories/data-source.stories.tsx
  packages/ui/select/src/Select.tsx
  packages/ui/select/stories/data-source.stories.tsx
Labels: PR: New feature 👍, comp:select, 4.x, comp:checkselect

#3020 feat(scrollbar): 滚动条固定屏幕底部 (#3019)
  .changeset/breezy-pumas-rest.md
  packages/ui/scrollbar/src/Scrollbar.tsx
  packages/ui/scrollbar/src/types.ts
  packages/ui/scrollbar/stories/fixed.stories.tsx
  packages/ui/scrollbar/stories/index.stories.tsx
  packages/ui/table/stories/scrollbar.stories.tsx
  patches/perfect-scrollbar+1.5.5.patch
Labels: PR: New feature 👍, 4.x, comp:scrollbar

#3031 fix(dropdown): 修复父节点设置disabled后依然可以点击的问题 (#3030)
  .changeset/rare-needles-hang.md
  packages/ui/dropdown/src/Dropdown.tsx
Labels: PR: Bug fix 🔧, comp:dropdown, 4.x

#3034 feat(table): SettingDrawer 增加 onReset api (#3021)
  .changeset/green-points-sort.md
  packages/ui/table/src/SettingDrawer.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#3033 feat(table): 支持表头列合并 (#3032)
  .changeset/early-cycles-drum.md
  packages/ui/table/src/TheadContent.tsx
  packages/ui/table/src/hooks/use-colgroup.ts
  packages/ui/table/src/types.ts
  packages/ui/table/stories/col-menu.stories.tsx
  packages/ui/table/stories/custom-filter.stories.tsx
  packages/ui/table/stories/data-sorter.stories.tsx
  packages/ui/table/stories/header-colspan.stories.tsx
  packages/ui/table/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#3038 Update changeset content
  .changeset/breezy-pumas-rest.md
  .changeset/clever-monkeys-speak.md
  .changeset/fuzzy-radios-know.md
  .changeset/rude-ways-look.md
  .changeset/shy-coats-crash.md
  .github/workflows/release.yml
  CONTRIBUTING.md
  packages/ui/cascader/stories/select-close.stories.tsx
  packages/ui/check-cascader/stories/tag-input-wrap.stories.tsx
  packages/ui/check-select/stories/custom-render.stories.tsx
  packages/ui/check-select/stories/tag-input-wrap.stories.tsx
  packages/ui/check-tree-select/stories/tag-input-wrap.stories.tsx
  packages/ui/menu/stories/sidebar.stories.tsx
  packages/ui/tree/stories/action-render.stories.tsx
  packages/ui/tree/stories/expand-on-click.stories.tsx
Labels: docs, 4.x

#3041 fix(table): 修复分页器被遮挡的问题 (#3040)
  .changeset/kind-bees-move.md
  .changeset/silly-mirrors-turn.md
  packages/ui/pagination/hi-docs.config.mdx
  packages/ui/pagination/src/DefaultPagination.tsx
  packages/ui/pagination/src/PageOption.tsx
  packages/ui/table/stories/pagination.stories.tsx
  packages/ui/table/stories/scrollbar.stories.tsx
Labels: PR: Bug fix 🔧, comp:pagination, comp:table, 4.x

#3042 fix(scrollbar): 去掉 perfect-scrollbar 依赖
  .changeset/good-comics-smell.md
  package.json
  packages/ui/scrollbar/package.json
  yarn.lock
Labels: PR: Bug fix 🔧, dependencies, 4.x, comp:scrollbar

#3050 fix(table): 在 resizable 模式下,将拖拽线高度拉长至覆盖当前列所有单元格中 (#3049)
  .changeset/proud-beers-guess.md
  packages/ui/table/src/TableCell.tsx
  packages/ui/table/src/TheadContent.tsx
  packages/ui/table/src/styles/table.scss
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/resizable.stories.tsx
Labels: ui, comp:table, 4.x

#3048 feat(pagination): add size api (#3047)
  .changeset/brown-clouds-deny.md
  packages/ui/pagination/src/DefaultPagination.tsx
  packages/ui/pagination/src/PageJumper.tsx
  packages/ui/pagination/src/PageOption.tsx
  packages/ui/pagination/src/Pagination.tsx
  packages/ui/pagination/src/ShrinkPagination.tsx
  packages/ui/pagination/src/styles/pagination.scss
  packages/ui/pagination/stories/index.stories.tsx
  packages/ui/pagination/stories/size.stories.tsx
Labels: enhancement, comp:pagination, 4.x

#3045 feat(table): 虚拟列表下，支持设置滚动位置 (#3044)
  .changeset/moody-bikes-raise.md
  packages/ui/table/src/TableBody.tsx
  packages/ui/table/src/types.ts
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/virtual.stories.tsx
Labels: enhancement, comp:table, 4.x

#3051 Revert "fix(table): 在 resizable 模式下,将拖拽线高度拉长至覆盖当前列所有单元格中 (#3049)"
  .changeset/proud-beers-guess.md
  packages/ui/table/src/TableCell.tsx
  packages/ui/table/src/TheadContent.tsx
  packages/ui/table/src/styles/table.scss
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/resizable.stories.tsx
Labels: comp:table, 4.x

#3052 feat(table): add tableWidthAdjustOnResize api (#3046)
  .changeset/beige-months-poke.md
  packages/ui/table/src/hooks/use-col-width.ts
  packages/ui/table/src/styles/table.scss
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/data-sorter.stories.tsx
  packages/ui/table/stories/scrollbar.stories.tsx
  stories/Introduction.stories.mdx
Labels: PR: New feature 👍, comp:table, 4.x

#3053 fix(table): 修复Table和Tree中虚拟列表类型命名冲突问题
  packages/ui/table/src/types.ts
Labels: not a problem, comp:table, 4.x

#3056 perf(date-picker): 范围选择交互优化 (#3055)
  .changeset/selfish-seas-impress.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/range-panel.tsx
  packages/ui/date-picker/src/context.ts
Labels: PR: Bug fix 🔧, comp:datepicker, 4.x
