Repository XiaoMi/hiui, pull requests merged in 2024-07, with the labels that each got.

#2924 docs: 组件文档中显示出 disabledPortal 和 container api
  .changeset/giant-mirrors-repair.md
  packages/ui/drawer/src/Drawer.tsx
  packages/ui/modal/src/Modal.tsx
  packages/ui/number-input/src/NumberInput.tsx
  packages/ui/preview/package.json
  packages/ui/tooltip/src/Tooltip.tsx
Labels: docs, 4.x

#2926 feat(hiui): 升级到 hiui@4.6.0
  .changeset/funny-radios-pretend.md
Labels: 4.x

#2834 feat(date-picker): cellRender增加date参数
  .changeset/forty-monkeys-hear.md
  .changeset/kind-bikes-smile.md
  packages/ui/date-picker/src/components/calendar.tsx
  packages/ui/date-picker/src/types.ts
Labels: PR: New feature 👍, comp:datepicker, 4.x

#2936 fix(upload): #2928
  .changeset/calm-coins-leave.md
  .changeset/orange-waves-allow.md
  packages/ui/upload/src/NormalUpload.tsx
  packages/ui/upload/src/PictureListUpload.tsx
  packages/ui/upload/src/PictureUpload.tsx
  packages/ui/upload/src/hooks/use-upload.ts
  packages/ui/upload/src/styles/upload.scss
Labels: PR: Bug fix 🔧, 4.x, comp:upload

#2947 feat(descriptions): add contentPosition api (#2918)
  .changeset/hungry-shirts-laugh.md
  .changeset/shaggy-vans-drive.md
  packages/ui/descriptions/src/Cell.tsx
  packages/ui/descriptions/src/Descriptions.tsx
  packages/ui/descriptions/src/Row.tsx
  packages/ui/descriptions/src/styles/descriptions.scss
  packages/ui/descriptions/src/types.ts
  packages/ui/descriptions/stories/content-position.stories.tsx
  packages/ui/descriptions/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:descriptions

#2946 fix(table): 修复列更新问题 (#2923)
  packages/ui/table/src/hooks/use-col-width.ts
Labels: PR: Bug fix 🔧, comp:table, 4.x

#2940 fix(tabs): 修复activeId为一个不存在的值或空值，下划线显示不对的问题(#2939)
  .changeset/eight-poets-reply.md
  .changeset/sweet-garlics-shop.md
  packages/ui/tabs/src/TabList.tsx
Labels: PR: Bug fix 🔧, comp:tabs, 4.x

#2944 fix(menu): 修复最后一个菜单项的子节点没有间距的问题(#2942)
  .changeset/funny-sloths-fail.md
  .changeset/heavy-ladybugs-wink.md
  packages/ui/menu/src/styles/menu.scss
Labels: ui, 4.x, comp:menu

#2943 fix(tree): 修复Firefox中组件拖拽报错问题(#2941)
  .changeset/chilly-squids-talk.md
  .changeset/lemon-fireants-glow.md
  packages/ui/tree/src/TreeNode.tsx
Labels: PR: Bug fix 🔧, comp:tree, 4.x

#2934 fix(dropdown): 修复overlay={{className: 'xx'}} 不生效问题
  .changeset/brown-poems-accept.md
  .changeset/quick-seas-allow.md
  packages/ui/dropdown/src/use-dropdown.tsx
Labels: PR: Bug fix 🔧, comp:dropdown, 4.x

#2933 fix(form): 修复validator回调中第一个参数带有多余的引号(#2931)
  .changeset/curvy-falcons-confess.md
  .changeset/old-penguins-grin.md
  packages/ui/form/src/use-form-field.ts
Labels: PR: Bug fix 🔧, comp:form, 4.x

#2930 fix(pagination): 修复 onJump 事件没有触发的问题(#2929)
  .changeset/quick-plums-cough.md
  .changeset/short-timers-trade.md
  packages/ui/pagination/src/DefaultPagination.tsx
Labels: PR: Bug fix 🔧, comp:pagination, 4.x

#2938 fix(tabs): 修复设置缩放后下划线显示不正常问题(#2937)
  .changeset/twenty-bears-draw.md
  .changeset/wicked-camels-add.md
  packages/ui/tabs/src/TabInk.tsx
  packages/ui/tabs/src/TabList.tsx
Labels: PR: Bug fix 🔧, comp:tabs, 4.x

#2949 fix(form): 修复校验函数类型错误
  packages/ui/form/src/use-form-field.ts
Labels: PR: Bug fix 🔧, comp:form, 4.x
