Repository XiaoMi/hiui, pull requests merged in 2024-10, with the labels that each got.

#3016 fix(drawer): 修复 width 和 height 类型不支持字符串问题 (#3013)
  .changeset/fifty-snakes-invent.md
  packages/ui/drawer/src/Drawer.tsx
Labels: PR: Bug fix 🔧, comp:drawer, 4.x

#3024 fix(input): 修复 type="X" 时最后一位无法输入 X 的问题 (#3023)
  .changeset/fresh-scissors-complain.md
  packages/ui/input/src/types.ts
  packages/ui/input/src/utils/index.ts
Labels: PR: Bug fix 🔧, comp:input, 4.x

#3018 fix(tree): 修复编辑模式下保存无效问题 (#3017)
  .changeset/gorgeous-jars-swim.md
  packages/ui/tree/src/Tree.tsx
  packages/ui/tree/src/TreeNode.tsx
  packages/ui/tree/src/context.ts
  packages/ui/tree/src/hooks/use-edit.ts
  packages/ui/tree/src/utils/tree.ts
Labels: PR: Bug fix 🔧, comp:tree, 4.x

#3026 fix: 修复选项禁用时触发键盘事件报错
  .changeset/pretty-trains-bake.md
  packages/ui/tree/src/hooks/use-focus.ts
Labels: PR: Bug fix 🔧, comp:tree, 4.x

#3014 README.EN.md file created, English README file provided.
  README.EN.md
  README.md
Labels: docs, 4.x
