Repository XiaoMi/hiui, pull requests merged in 2024-08, with the labels that each got.

#2948 feat(select): 新增带搜索情况下，点击叉号按钮时下拉框同时清空(#2945)
  .changeset/healthy-needles-cheer.md
  .changeset/ten-countries-kick.md
  packages/ui/picker/src/Picker.tsx
  packages/ui/select/src/Select.tsx
  packages/ui/select/stories/search-controlled.stories.tsx
Labels: PR: New feature 👍, comp:select, 4.x

#2804 chore(notification): add overflow hidden for notification wrap style
  .changeset/five-mails-beg.md
  packages/ui/notification/src/styles/notification.scss
Labels: PR: Bug fix 🔧, 4.x, comp:notification

#2954 feat(input): MockInput 没有匹配到值时默认展示 value 值
  .changeset/five-mails-beg.md
  .changeset/plenty-mice-thank.md
  .changeset/red-gorillas-count.md
  .changeset/selfish-steaks-think.md
  packages/ui/input/src/MockInput.tsx
  packages/ui/select/src/Select.tsx
Labels: PR: New feature 👍, comp:select, comp:input, 4.x

#2957 fix: 修复1.x版本国际化问题
  components/locales/en-US.js
  components/locales/zh-CN.js
  components/pagination/Pagination.js
  components/popper/index.js
  components/select/Select.js
  components/select/SelectDropdown.js
  components/table/index.js
Labels: bug, 1.x, comp:select

#2959 chore: 更新版本号到 1.5.23
  package.json
Labels: 1.x

#2958 fix: 修复2.x版本国际化问题
  components/locales/en-US.js
  components/locales/zh-CN.js
  components/locales/zh-Hant-HK.js
  components/locales/zh-Hant-TW.js
  components/select/Select.js
  components/table/index.js
  package.json
Labels: bug, comp:select, comp:table, 4.x

#2963 chore: 更新版本号
  package-lock.json
  package.json
Labels: 2.x

#2964 feat(tree): 新增 icon 支持自定义渲染函数(#2960)
  .changeset/honest-tomatoes-work.md
  .changeset/nine-kings-behave.md
  packages/ui/tree/src/Tree.tsx
  packages/ui/tree/src/TreeNode.tsx
  packages/ui/tree/src/context.ts
  packages/ui/tree/stories/icon-render.stories.tsx
  packages/ui/tree/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:tree, 4.x

#2968 feat(table): 行选中增加单选
  .changeset/grumpy-clocks-attend.md
  .changeset/moody-parents-scream.md
  packages/ui/table/src/Table.tsx
  packages/ui/table/src/hooks/use-check.ts
  packages/ui/table/src/types.ts
  packages/ui/table/stories/row-selection.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#2966 fix(tree): 修复组件指定 fieldNames={{ title: 'name' }} 后，menuOptions 里 type 为 editNode 时会出现改不了节点的情况
  .changeset/dull-birds-hang.md
  .changeset/odd-ladybugs-boil.md
  packages/ui/tree/src/hooks/use-edit.ts
  packages/ui/tree/src/use-tree-action.tsx
  packages/ui/tree/src/utils/tree.ts
Labels: PR: Bug fix 🔧, comp:tree, 4.x

#2952 feat(check-tree-select): 新增支持过滤已选择项(#2951)
  .changeset/four-cameras-float.md
  .changeset/healthy-suits-drop.md
  packages/ui/check-tree-select/src/CheckTreeSelect.tsx
  packages/ui/check-tree-select/stories/index.stories.tsx
  packages/ui/check-tree-select/stories/only-checked.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:checktreeselect

#2970 feat(check-select): 支持回车键不默认选中功能(#2969)
  .changeset/eighty-kids-rest.md
  .changeset/yellow-plums-boil.md
  packages/ui/check-select/src/CheckSelect.tsx
Labels: PR: New feature 👍, 4.x, comp:checkselect

#2972 fix(env): 去掉 inject-head-style 依赖
  .changeset/chilled-parrots-turn.md
  .changeset/serious-plants-prove.md
  packages/utils/env/package.json
  yarn.lock
Labels: dependencies, 4.x

#2974 feat(inject-head-style): 增加inject-head-style库的维护
  .changeset/polite-tigers-invent.md
  packages/others/inject-head-style/README.md
  packages/others/inject-head-style/dist/index.d.ts
  packages/others/inject-head-style/dist/index.js
  packages/others/inject-head-style/dist/inject-head-style.cjs.development.js
  packages/others/inject-head-style/dist/inject-head-style.cjs.development.js.map
  packages/others/inject-head-style/dist/inject-head-style.cjs.production.min.js
  packages/others/inject-head-style/dist/inject-head-style.cjs.production.min.js.map
  packages/others/inject-head-style/dist/inject-head-style.esm.js
  packages/others/inject-head-style/dist/inject-head-style.esm.js.map
  packages/others/inject-head-style/package.json
  packages/others/style-inject/package.json
  packages/utils/env/package.json
Labels: dependencies, 4.x

#2975 chore: 更新yarn.lock
  yarn.lock
Labels: 4.x

#2981 feat(date-picker): Add needConfirm and onConfirm api (#2979)
  .changeset/silver-ads-jog.md
  .changeset/slow-bottles-talk.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/date-range-time-panel.tsx
  packages/ui/date-picker/src/components/footer.tsx
  packages/ui/date-picker/src/components/panel.tsx
  packages/ui/date-picker/src/components/range-panel.tsx
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/stories/index.stories.tsx
  packages/ui/date-picker/stories/need-confirm.stories.tsx
Labels: PR: New feature 👍, comp:datepicker, 4.x

#2910 feat(date-picker): 新增自定义触发器(#2891)
  .changeset/hot-fans-beg.md
  .changeset/metal-squids-unite.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/root.tsx
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/stories/custom-render.stories.tsx
  packages/ui/date-picker/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:datepicker, 4.x

#2982 feat(hi-ui): 支持自动化测试
  .github/workflows/auto-test.yml
  hi-test/.gitignore
  hi-test/package.json
  hi-test/playwright.config.ts
  hi-test/tests/form/basic.spec.ts
  hi-test/tests/form/label-placement.spec.ts
  hi-test/tests/form/validate.spec.ts
  hi-test/yarn.lock
  package.json
Labels: docs, 4.x, shell

#2935 feat: 自动生成 md 文档
  scripts/hi-docs/src/merge-docs.mjs
  scripts/hi-docs/src/utils/index.mjs
Labels: docs, 4.x, shell
