Repository XiaoMi/hiui, pull requests merged in 2024-05, with the labels that each got.

#2813 fix(pop-confirm): 修复点击确定按钮触发onCancel问题(#2810)
  .changeset/brown-mails-accept.md
  .changeset/fast-waves-explode.md
  packages/ui/pop-confirm/src/use-pop-confirm.ts
Labels: bug, 4.x, comp:popconfirm

#2814 fix(select): 修复搜索时在中文输入法下按回车键弹窗会关闭的问题(#2809)
  .changeset/real-keys-check.md
  .changeset/tough-kangaroos-beam.md
  packages/ui/select/src/Select.tsx
Labels: ue, comp:select, 4.x

#2815 feat(preview): 支持配置图片水印以及禁止右键下载图片
  .changeset/large-glasses-share.md
  .changeset/serious-penguins-provide.md
  packages/ui/preview/src/Preview.tsx
  packages/ui/preview/src/styles/preview.scss
  packages/ui/preview/stories/banned.stories.tsx
  packages/ui/preview/stories/index.stories.tsx
  packages/ui/preview/stories/watermark.stories.tsx
Labels: PR: New feature 👍, comp:preview, 4.x

#2827 fix(date-picker): 修复format传入函数，只有在type='weekrange'下生效
  .changeset/long-cycles-bake.md
  .changeset/warm-gorillas-type.md
  packages/ui/date-picker/src/components/input.tsx
Labels: bug, comp:datepicker, 4.x

#2828 fix(select): 修复 select 异步搜索中，搜索结果关键字没有高亮显示
  .changeset/beige-dingos-drop.md
  .changeset/healthy-moose-smash.md
  .changeset/pink-gifts-admire.md
  .changeset/tidy-moons-notice.md
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/select/src/Select.tsx
Labels: bug, comp:select, 4.x, comp:checkselect

#2829 fix: 修复示例和类型提示等问题
  .changeset/cool-comics-crash.md
  .changeset/four-ducks-admire.md
  packages/ui/form/stories/validate-message.stories.tsx
  packages/ui/preview/src/Preview.tsx
  packages/utils/env/package.json
Labels: bug, comp:preview, 4.x

#2830 chore: 更新package-lock.json
  yarn.lock
Labels: dependencies, 4.x

#2839 fix(table): 修复 columns 中将 title 设置为空字符串报错 (#2835)
  .changeset/clean-crabs-work.md
  .changeset/light-nails-pull.md
  packages/ui/table/src/hooks/use-col-width.ts
Labels: PR: Bug fix 🔧, comp:table, 4.x

#2840 fix(table): 修复同时设置 fieldKey 和 rowSelection 时 onChange 回调参数异常问题 (#2836)
  .changeset/nervous-scissors-care.md
  .changeset/purple-laws-check.md
  packages/ui/table/src/hooks/use-check.ts
Labels: PR: Bug fix 🔧, comp:table, 4.x

#2842 fix(form): 修复标签顶对齐时样式问题 (#2838)
  .changeset/mighty-onions-occur.md
  .changeset/real-insects-vanish.md
  packages/ui/form/src/styles/form.scss
  packages/ui/form/stories/label-placement.stories.tsx
Labels: PR: Bug fix 🔧, comp:form, 4.x

#2843 chore: Update registrary.nlark.com in the package-lock file
  yarn.lock
Labels: dependencies, 4.x

#2841 fix(time-picker): 修复设置空字符串无效问题 (#2837)
  .changeset/beige-actors-push.md
  .changeset/dry-jokes-work.md
  packages/ui/time-picker/src/TimePicker.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:timepicker
