Repository XiaoMi/hiui, pull requests merged in 2024-06, with the labels that each got.

#2860 fix(date-picker): 修复datepicker显示农历时2月中1月农历显示错误问题 (#2853)
  .changeset/olive-trains-joke.md
  .changeset/tidy-rings-burn.md
  packages/ui/date-picker/src/utils/index.tsx
Labels: PR: Bug fix 🔧, comp:datepicker, 4.x

#2862 feat: 支持自动化发布Releases日志
  .github/workflows/release.yml
Labels: 4.x, ci

#2854 fix(date-picker): 修复预置农历下切换 1891 年以前组件报错问题 (#2611)
  .changeset/khaki-rice-run.md
  .changeset/yellow-yaks-reply.md
  packages/ui/date-picker/src/utils/toLunar.ts
Labels: PR: Bug fix 🔧, comp:datepicker, 4.x

#2859 fix(table): 修复 onDragStart 事件不触发问题 (#2858)
  .changeset/cold-bobcats-knock.md
  .changeset/itchy-suns-sleep.md
  packages/ui/form/stories/label-placement.stories.tsx
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/draggable.stories.tsx
Labels: PR: Bug fix 🔧, comp:table, 4.x

#2847 fix(table): 修复虚拟列表maxHeight无法支持字符串问题(#2846)
  .changeset/khaki-panthers-clean.md
  .changeset/rude-baboons-explode.md
  packages/ui/table/src/TableBody.tsx
Labels: PR: Bug fix 🔧, comp:table, 4.x

#2867 fix(table): 修复统计行中选中模式下显示异常问题(#2863)
  .changeset/blue-worms-knock.md
  .changeset/tricky-cars-begin.md
  packages/ui/table/src/BaseTable.tsx
Labels: bug, comp:table, 4.x

#2870 fix(pagination): 每页显示条数选择器改为基于父元素定位 (#2865)
  .changeset/friendly-files-sit.md
  .changeset/old-ears-greet.md
  packages/ui/pagination/src/PageOption.tsx
Labels: PR: Bug fix 🔧, comp:pagination, 4.x

#2868 feat(check-cascader): 支持配置字段别名
  .changeset/grumpy-owls-cover.md
  .changeset/nice-taxis-help.md
  packages/ui/check-cascader/src/CheckCascader.tsx
Labels: PR: New feature 👍, 4.x, comp:checkcascader

#2874 feat(tree): 支持配置字段别名
  packages/ui/tree/src/Tree.tsx
Labels: PR: New feature 👍, comp:tree, 4.x

#2880 feat(menu): 新增支持配置字段别名(#2872)
  .changeset/afraid-impalas-remain.md
  .changeset/fifty-teachers-admire.md
  packages/ui/menu/src/Menu.tsx
  packages/ui/menu/src/util.ts
Labels: PR: New feature 👍, 4.x, comp:menu

#2823 feat(tree-select): 支持前缀后缀内容
  .changeset/many-flies-greet.md
  .changeset/plenty-monkeys-end.md
  packages/ui/tree-select/src/TreeSelect.tsx
Labels: PR: New feature 👍, 4.x, comp:treeselect

#2824 feat(cascader): 支持前缀后缀内容
  .changeset/fresh-waves-act.md
  .changeset/lovely-queens-sing.md
  .changeset/pretty-queens-dress.md
  .changeset/thin-sheep-leave.md
  packages/ui/cascader/src/Cascader.tsx
  packages/ui/check-cascader/src/CheckCascader.tsx
  packages/ui/check-cascader/stories/addon.stories.tsx
  packages/ui/check-cascader/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:cascader, 4.x

#2832 feat(notification): 支持自定义 notification 配置
  .changeset/soft-eggs-hear.md
  .changeset/thick-taxis-retire.md
  packages/ui/notification/src/NotificationAPI.tsx
  packages/ui/notification/stories/custom.stories.tsx
  packages/ui/notification/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:notification

#2849 feat(modal): 新增自定义zIndex功能
  .changeset/five-ads-drum.md
  .changeset/twenty-ligers-flash.md
  packages/ui/modal/src/Modal.tsx
  packages/ui/modal/src/use-modal.ts
Labels: PR: New feature 👍, comp:modal, 4.x

#2851 feat(drawer): 支持自定义zIndex功能
  .changeset/strong-dragons-ring.md
  .changeset/yellow-bats-argue.md
  packages/ui/drawer/src/Drawer.tsx
Labels: PR: New feature 👍, comp:drawer, 4.x

#2882 feat(descriptions): 支持配置字段别名(#2873)
  .changeset/nasty-oranges-brush.md
  .changeset/tiny-bananas-wonder.md
  packages/ui/descriptions/src/Descriptions.tsx
  packages/ui/descriptions/src/util.ts
Labels: PR: New feature 👍, dependencies, 4.x

#2878 feat(check-tree-select): 新增前缀后缀内容扩展(#2877)
  .changeset/rich-guests-check.md
  .changeset/thirty-apricots-count.md
  packages/ui/check-tree-select/src/CheckTreeSelect.tsx
  packages/ui/check-tree-select/stories/addon.stories.tsx
  packages/ui/check-tree-select/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:checktreeselect

#2895 feat(breadcrumb): 支持配置字段别名(#2885)
  .changeset/four-pets-sparkle.md
  .changeset/soft-spies-march.md
  packages/ui/breadcrumb/src/Breadcrumb.tsx
  packages/ui/breadcrumb/src/util.ts
Labels: PR: New feature 👍, 4.x, comp:breadcrumb

#2893 feat(search): 支持配置字段别名(#2886)
  .changeset/olive-mails-grin.md
  .changeset/soft-cobras-film.md
  packages/ui/search/src/Search.tsx
  packages/ui/search/src/util.ts
Labels: PR: New feature 👍, 4.x, comp:search

#2889 feat(dropdown): 支持配置字段别名(#2883)
  .changeset/fuzzy-buttons-worry.md
  .changeset/wise-walls-arrive.md
  packages/ui/dropdown/src/Dropdown.tsx
  packages/ui/dropdown/src/utils/index.ts
Labels: PR: New feature 👍, comp:dropdown, 4.x

#2907 feat(number-input): 新增前缀后缀内容扩展(#2906)
  .changeset/dull-carrots-shout.md
  .changeset/soft-actors-perform.md
  packages/ui/number-input/src/NumberInput.tsx
  packages/ui/number-input/src/styles/number-input.scss
  packages/ui/number-input/stories/addon.stories.tsx
  packages/ui/number-input/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:numberinput

#2905 feat(date-picker): 新增前缀后缀内容扩展(#2894)
  .changeset/cyan-rules-sparkle.md
  .changeset/funny-zebras-pretend.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/root.tsx
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/stories/addon.stories.tsx
  packages/ui/date-picker/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:datepicker, 4.x

#2904 feat(time-picker): 新增前缀后缀内容扩展(#2903)
  .changeset/rude-sheep-argue.md
  .changeset/silent-gifts-suffer.md
  packages/ui/time-picker/src/TimePicker.tsx
  packages/ui/time-picker/src/styles/time-picker.scss
  packages/ui/time-picker/stories/addon.stories.tsx
  packages/ui/time-picker/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:timepicker

#2917 feat(filter): 支持配置字段别名(#2915)
  .changeset/rich-geckos-study.md
  .changeset/young-grapes-melt.md
  packages/ui/filter/src/use-filter.ts
  packages/ui/filter/src/utils.ts
Labels: PR: New feature 👍, 4.x, comp:filter

#2916 feat(stepper): 支持配置字段别名(#2914)
  .changeset/selfish-bananas-smash.md
  .changeset/thick-planes-clean.md
  packages/ui/stepper/src/Stepper.tsx
  packages/ui/stepper/src/utils.ts
Labels: PR: New feature 👍, comp:stepper, 4.x

#2913 feat(transfer): 支持配置字段别名(#2909)
  .changeset/cuddly-ligers-deny.md
  .changeset/many-moose-matter.md
  packages/ui/transfer/src/Transfer.tsx
  packages/ui/transfer/src/utils.ts
Labels: PR: New feature 👍, comp:transfer, 4.x

#2912 feat(list): 支持配置字段别名(#2908)
  .changeset/angry-bugs-fix.md
  .changeset/slimy-spoons-jog.md
  packages/ui/list/src/List.tsx
  packages/ui/list/src/utils.ts
Labels: PR: New feature 👍, 4.x, comp:list

#2920 feat(check-cascader): 新增自定义触发器(#2896)
  .changeset/hot-ways-knock.md
  .changeset/warm-zebras-sip.md
  packages/ui/check-cascader/src/CheckCascader.tsx
  packages/ui/check-cascader/stories/custom-render.stories.tsx
  packages/ui/check-cascader/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:checkcascader

#2921 feat(cascader): 新增自定义触发器(#2888)
  .changeset/itchy-items-end.md
  .changeset/smooth-pears-behave.md
  packages/ui/cascader/src/Cascader.tsx
  packages/ui/cascader/stories/custom-render.stories.tsx
  packages/ui/cascader/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:cascader, 4.x

#2922 feat(tree-select): 新增自定义触发器(#2884)
  .changeset/orange-dolphins-arrive.md
  .changeset/plenty-dodos-fold.md
  packages/ui/tree-select/src/TreeSelect.tsx
  packages/ui/tree-select/stories/custom-render.stories.tsx
  packages/ui/tree-select/stories/index.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:treeselect
