Repository XiaoMi/hiui, pull requests merged in 2025-01, with the labels that each got.

#3079 chore: update date picker data
  scripts/calendar-data/PRCHoliday.json
  scripts/calendar-data/PRCLunar.json
  scripts/calendar-data/index.js
Labels: not a problem, 4.x

#3078 perf(date-picker): 图标固定在右边 (#3077)
  .changeset/rotten-buckets-look.md
  packages/ui/date-picker/src/styles/date-picker.scss
Labels: PR: Bug fix 🔧, comp:datepicker, 4.x

#3081 fix(drawer): 修复局部显示中设置 showMask={false} 后显示异常问题 (#3080)
  .changeset/purple-ligers-heal.md
  packages/ui/drawer/src/Drawer.tsx
Labels: PR: Bug fix 🔧, comp:drawer, 4.x

#3083 fix(table): 修复空状态下设置边框左边框不显示问题 (#3082)
  .changeset/sour-impalas-eat.md
  packages/ui/table/src/BaseTable.tsx
Labels: PR: Bug fix 🔧, comp:table, 4.x
