Repository XiaoMi/hiui, pull requests merged in 2025-05, with the labels that each got.

#3142 feat: 全局样式更新 (5.0)
  .npmrc
  .storybook/themes/hiui-theme.js
  packages/core/core-css/src/styles/common/version.scss
  packages/core/core-css/src/styles/tokens/border.scss
  packages/core/core-css/src/styles/tokens/color.scss
  packages/core/core-css/src/styles/tokens/spacing.scss
  packages/core/core-css/src/styles/tokens/text.scss
  packages/utils/classname/src/index.ts
Labels: ui, 5.x

#3145 Next 5.0/button
  .changeset/clean-coats-draw.md
  .changeset/selfish-games-deny.md
  packages/core/core-css/src/styles/tokens/height.scss
  packages/ui/button/src/Button.tsx
  packages/ui/button/src/styles/base.scss
  packages/ui/button/src/styles/flat.scss
  packages/ui/button/src/styles/line.scss
  packages/ui/button/src/styles/link.scss
  packages/ui/button/src/styles/unset.scss
  packages/ui/button/stories/group.stories.tsx
  packages/ui/button/stories/icon.stories.tsx
  packages/ui/button/stories/index.stories.tsx
  packages/ui/button/stories/size.stories.tsx
  packages/ui/button/stories/text.stories.tsx
Labels: comp:button, 5.x

#3146 Next 5.0/select
  .changeset/dull-donuts-fold.md
  .changeset/plenty-eggs-impress.md
  .npmrc
  .storybook/themes/hiui-theme.js
  packages/core/core-css/src/styles/common/version.scss
  packages/core/core-css/src/styles/tokens/border.scss
  packages/core/core-css/src/styles/tokens/color.scss
  packages/core/core-css/src/styles/tokens/spacing.scss
  packages/core/core-css/src/styles/tokens/text.scss
  packages/core/core/src/index.ts
  packages/ui/cascader/stories/size.stories.tsx
  packages/ui/check-cascader/stories/size.stories.tsx
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/check-select/stories/size.stories.tsx
  packages/ui/check-tree-select/stories/size.stories.tsx
  packages/ui/input/src/Input.tsx
  packages/ui/input/src/MockInput.tsx
  packages/ui/input/src/styles/input.scss
  packages/ui/input/src/styles/mock-input.scss
  packages/ui/input/stories/index.stories.tsx
  packages/ui/input/stories/size.stories.tsx
  packages/ui/picker/src/styles/picker.scss
  packages/ui/picker/stories/basic.stories.tsx
  packages/ui/select/stories/size.stories.tsx
  packages/ui/tag-input/src/TagInputMock.tsx
  packages/ui/tag-input/src/styles/tag-input-mock.scss
  packages/ui/tree-select/stories/size.stories.tsx
  packages/utils/classname/src/index.ts
Labels: comp:select, comp:input, comp:cascader, comp:checkselect, comp:checkcascader, comp:checktreeselect, comp:treeselect, 5.x

#3148 Next 5.0/select
  .changeset/dull-donuts-fold.md
  .changeset/plenty-eggs-impress.md
  packages/core/core/src/index.ts
  packages/ui/cascader/stories/size.stories.tsx
  packages/ui/check-cascader/stories/size.stories.tsx
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/check-select/stories/size.stories.tsx
  packages/ui/check-tree-select/stories/size.stories.tsx
  packages/ui/input/src/Input.tsx
  packages/ui/input/src/MockInput.tsx
  packages/ui/input/src/styles/input.scss
  packages/ui/input/src/styles/mock-input.scss
  packages/ui/input/stories/index.stories.tsx
  packages/ui/input/stories/size.stories.tsx
  packages/ui/picker/src/styles/picker.scss
  packages/ui/picker/stories/basic.stories.tsx
  packages/ui/select/stories/size.stories.tsx
  packages/ui/tag-input/src/TagInputMock.tsx
  packages/ui/tag-input/src/styles/tag-input-mock.scss
  packages/ui/tree-select/stories/size.stories.tsx
Labels: comp:select, comp:input, comp:cascader, comp:checkselect, comp:checkcascader, comp:checktreeselect, comp:treeselect, 5.x

#3149 feat(checkbox): 新版 Checkbox (5.0)
  .changeset/late-mirrors-tickle.md
  packages/ui/checkbox/src/Checkbox.tsx
  packages/ui/checkbox/src/styles/checkbox.scss
Labels: comp:checkbox, 5.x

#3150 feat(date-picker): 新版 DatePicker (5.0)
  .changeset/modern-fishes-draw.md
  packages/core/core-css/src/styles/themes/border.scss
  packages/core/core-css/src/styles/tokens/border.scss
  packages/ui/button/src/styles/base.scss
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/stories/size.stories.tsx
  packages/ui/input/src/styles/mock-input.scss
  packages/ui/tag-input/src/styles/tag-input-mock.scss
Labels: comp:datepicker, 5.x

#3152 feat(tabs): 新版 Tabs (5.0)
  .changeset/giant-socks-flow.md
  packages/ui/tabs/src/TabList.tsx
  packages/ui/tabs/src/Tabs.tsx
  packages/ui/tabs/src/styles/tabs.scss
  packages/ui/tabs/stories/index.stories.tsx
  packages/ui/tabs/stories/size.stories.tsx
Labels: comp:tabs, 5.x

#3153 feat(form): 新版 Form (5.0)
  .changeset/many-frogs-fail.md
  packages/ui/form/src/Form.tsx
  packages/ui/form/src/styles/form.scss
Labels: comp:form, 5.x

#3155 feat(core-css): 更新 color Token (5.0)
  .changeset/strong-plants-scream.md
  packages/core/core-css/src/styles/tokens/color.scss
  packages/ui/button/src/Button.tsx
  packages/ui/button/src/styles/flat.scss
  packages/ui/button/src/styles/line.scss
  packages/ui/button/src/styles/link.scss
  packages/ui/button/src/styles/unset.scss
  packages/ui/button/stories/disabled.stories.tsx
  packages/ui/button/stories/loading.stories.tsx
Labels: comp:button, corecss, 5.x

#3156 Next 5.0/tag modal drawe
  .changeset/bright-pumpkins-pretend.md
  .changeset/slimy-humans-pretend.md
  .changeset/tough-pigs-hug.md
  .changeset/young-toes-enjoy.md
  packages/ui/drawer/src/Drawer.tsx
  packages/ui/drawer/src/styles/drawer.scss
  packages/ui/drawer/stories/basic.stories.tsx
  packages/ui/drawer/stories/extra.stories.tsx
  packages/ui/drawer/stories/footer.stories.tsx
  packages/ui/drawer/stories/mask.stories.tsx
  packages/ui/drawer/stories/outside-click.stories.tsx
  packages/ui/drawer/stories/placement.stories.tsx
  packages/ui/modal/src/Modal.tsx
  packages/ui/modal/src/styles/modal.scss
  packages/ui/modal/stories/popup.stories.tsx
  packages/ui/result/src/types.ts
  packages/ui/space/src/types.ts
  packages/ui/space/src/utils/index.ts
  packages/ui/tag/src/styles/tag-group.scss
  packages/ui/tag/stories/editor-render.stories.tsx
  stories/Introduction.stories.mdx
Labels: comp:modal, comp:drawer, comp:space, comp:result, comp:tag, 5.x

#3158 chore: update changeset files
  .changeset/bright-pumpkins-pretend.md
  .changeset/clean-coats-draw.md
  .changeset/dull-donuts-fold.md
  .changeset/gentle-tips-arrive.md
  .changeset/giant-socks-flow.md
  .changeset/late-mirrors-tickle.md
  .changeset/many-frogs-fail.md
  .changeset/modern-fishes-draw.md
  .changeset/selfish-games-deny.md
  .changeset/slimy-humans-pretend.md
  .changeset/spicy-parents-itch.md
  .changeset/strong-plants-scream.md
  .changeset/tough-pigs-hug.md
  .changeset/young-toes-enjoy.md
Labels: 5.x

#3159 feat: 更新Form的组件导出清单/NumberInput新增默认的白色背景等
  packages/ui/form/src/FormList.tsx
  packages/ui/form/src/index.ts
  packages/ui/number-input/src/styles/number-input.scss
Labels: comp:form, 4.x, comp:numberinput

#3160 chore: add changeset files
  .changeset/silent-baboons-play.md
  .changeset/two-cheetahs-breathe.md
Labels: 4.x

#3165 feat: 下拉选择类组件 appearance 参数增加 contained 类型 (5.0)
  .changeset/silly-fans-live.md
  packages/ui/cascader/src/Cascader.tsx
  packages/ui/cascader/src/types.ts
  packages/ui/cascader/stories/appearance.stories.tsx
  packages/ui/cascader/stories/index.stories.tsx
  packages/ui/check-cascader/src/CheckCascader.tsx
  packages/ui/check-cascader/src/types.ts
  packages/ui/check-cascader/stories/appearance.stories.tsx
  packages/ui/check-cascader/stories/index.stories.tsx
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/check-select/src/types.ts
  packages/ui/check-select/stories/appearance.stories.tsx
  packages/ui/check-tree-select/src/CheckTreeSelect.tsx
  packages/ui/check-tree-select/src/types.ts
  packages/ui/check-tree-select/stories/appearance.stories.tsx
  packages/ui/input/src/MockInput.tsx
  packages/ui/input/src/styles/mock-input.scss
  packages/ui/input/stories/mock.stories.tsx
  packages/ui/select/src/Select.tsx
  packages/ui/select/src/types.ts
  packages/ui/select/stories/appearance.stories.tsx
  packages/ui/tag-input/src/TagInputMock.tsx
  packages/ui/tag-input/src/styles/tag-input-mock.scss
  packages/ui/tag-input/stories/mock.stories.tsx
  packages/ui/tree-select/src/TreeSelect.tsx
  packages/ui/tree-select/src/types.ts
  packages/ui/tree-select/stories/appearance.stories.tsx
Labels: comp:select, comp:cascader, comp:checkselect, comp:checkcascader, comp:checktreeselect, comp:treeselect, 5.x

#3166 feat(date-picker): appearance 参数增加 contained 类型
  .changeset/rich-bugs-smell.md
  .changeset/tall-drinks-impress.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/root.tsx
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/stories/appearance.stories.tsx
  packages/ui/date-picker/stories/basic.stories.tsx
  packages/ui/input/src/MockInput.tsx
  packages/ui/tag-input/src/TagInputMock.tsx
Labels: comp:input, comp:datepicker, taginputmock, 5.x

#3164 fix(upload): Upload drag 模式下 accept 设置 * 号后无法上传文件(#3163)
  .changeset/many-pillows-tease.md
  packages/ui/upload/src/utils.ts
Labels: PR: Bug fix 🔧, comp:upload, 5.x

#3168 style(dropdown): 下拉框带边框&圆角改为 6px&size 改为只有 md 尺寸 (5.0)
  .changeset/itchy-impalas-happen.md
  packages/ui/dropdown/src/Dropdown.tsx
  packages/ui/dropdown/src/styles/dropdown.scss
  packages/ui/dropdown/stories/index.stories.tsx
  packages/ui/popper/src/styles/popper.scss
Labels: comp:dropdown, comp:popper, 5.x

#3169 style(upload): 新版 Upload (5.0)
  .changeset/flat-taxis-pump.md
  .changeset/smart-jokes-smash.md
  packages/ui/upload/src/AvatarUpload.tsx
  packages/ui/upload/src/FileList.tsx
  packages/ui/upload/src/NormalUpload.tsx
  packages/ui/upload/src/PictureListUpload.tsx
  packages/ui/upload/src/PictureUpload.tsx
  packages/ui/upload/src/hooks/use-upload.ts
  packages/ui/upload/src/styles/upload.scss
  packages/ui/upload/src/types.ts
  packages/ui/upload/src/utils.ts
  packages/ui/upload/stories/action-render.stories.tsx
  packages/ui/upload/stories/async-upload-action.stories.tsx
  packages/ui/upload/stories/avatar.stories.tsx
  packages/ui/upload/stories/basic.stories.tsx
  packages/ui/upload/stories/controlled.stories.tsx
  packages/ui/upload/stories/custom-upload.stories.tsx
  packages/ui/upload/stories/draggable.stories.tsx
  packages/ui/upload/stories/index.stories.tsx
  packages/ui/upload/stories/photo.stories.tsx
  packages/ui/upload/stories/picture-card.stories.tsx
  packages/ui/upload/stories/single-import.stories.tsx
  packages/ui/upload/stories/size.stories.tsx
Labels: comp:upload, 5.x

#3170 perf(date-picker): 优化contained模式下的点击事件交互&范围选择的开始结束值逻辑优化 (5.0)
  .changeset/cool-grapes-hope.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/range-panel.tsx
  packages/ui/date-picker/src/components/root.tsx
  packages/ui/date-picker/src/context.ts
Labels: comp:datepicker, 5.x

#3177 feat(table): add stretchHeight api (5.0)
  .changeset/tender-mice-wonder.md
  packages/ui/table/src/BaseTable.tsx
  packages/ui/table/src/Table.tsx
  packages/ui/table/src/styles/table.scss
  packages/ui/table/src/use-table.ts
  packages/ui/table/stories/index.stories.tsx
  packages/ui/table/stories/stretch-height.stories.tsx
Labels: PR: New feature 👍, comp:table, 5.x
