Repository XiaoMi/hiui, pull requests merged in 2025-06, with the labels that each got.

#3180 style: 修改 UI 问题 (5.0)
  .changeset/red-cameras-sparkle.md
  packages/core/core-css/src/styles/tokens/color.scss
  packages/ui/check-cascader/stories/checked-mode.stories.tsx
  packages/ui/check-cascader/stories/index.stories.tsx
  packages/ui/check-tree-select/stories/checked-mode.stories.tsx
  packages/ui/check-tree-select/stories/index.stories.tsx
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/dropdown/src/styles/dropdown.scss
  packages/ui/picker/src/Picker.tsx
  packages/ui/picker/src/styles/picker.scss
  packages/ui/table/src/styles/table.scss
  packages/ui/table/stories/custom-filter.stories.tsx
  packages/ui/tabs/src/styles/tabs.scss
Labels: comp:dropdown, comp:tabs, comp:table, comp:datepicker, corecss, 5.x

#3181 feat(drawer): add styles api (5.0)
  .changeset/gold-frogs-help.md
  packages/ui/drawer/src/Drawer.tsx
  packages/ui/drawer/stories/index.stories.tsx
  packages/ui/drawer/stories/tabs-header.stories.tsx
Labels: PR: New feature 👍, comp:drawer, 5.x

#3184 feat(tag): Tag 组件 render 方法增加 triggerEdit 参数用于触发编辑状态(#3185)
  .changeset/tidy-onions-pay.md
  packages/ui/tag/src/Tag.tsx
  packages/ui/tag/src/styles/tag.scss
  packages/ui/tag/stories/index.stories.tsx
  packages/ui/tag/stories/trigger-edit.stories.tsx
Labels: PR: New feature 👍, 4.x, comp:tag

#3186 style(switch): Switch 组件新版样式 (5.0)
  .changeset/honest-seas-type.md
  packages/core/core-css/src/styles/tokens/shadow.scss
  packages/ui/switch/src/styles/switch.scss
  packages/ui/switch/stories/size.stories.tsx
Labels: comp:switch, 5.x

#3187 style(stepper): Stepper 组件新版样式 (5.0)
  .changeset/seven-needles-own.md
  packages/ui/stepper/src/styles/stepper.scss
Labels: comp:stepper, 5.x

#3188 style(number-input): NumberInput 组件新版样式 (5.0)
  .changeset/cool-cats-glow.md
  packages/ui/number-input/src/styles/number-input.scss
Labels: comp:numberinput, 5.x

#3191 style: 修改样式问题 (5.0)
  .changeset/flat-ties-leave.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/dropdown/src/Dropdown.tsx
  packages/ui/form/src/styles/form.scss
  packages/ui/input/src/styles/input.scss
  packages/ui/input/src/styles/mock-input.scss
  packages/ui/picker/src/styles/picker.scss
  packages/ui/tag-input/src/TagInputMock.tsx
  packages/ui/tag-input/src/styles/tag-input-mock.scss
  packages/ui/textarea/src/styles/textarea.scss
  packages/ui/time-picker/src/styles/time-picker.scss
Labels: comp:dropdown, comp:form, comp:input, comp:datepicker, comp:timepicker, comp:textarea, taginputmock, 5.x

#3192 feat(tabs): add editRender api (5.0)
  .changeset/gorgeous-mangos-add.md
  packages/ui/tabs/src/TabItem.tsx
  packages/ui/tabs/src/TabList.tsx
  packages/ui/tabs/src/Tabs.tsx
  packages/ui/tabs/src/hooks/index.ts
  packages/ui/tabs/stories/edit-render.stories.tsx
  packages/ui/tabs/stories/index.stories.tsx
Labels: comp:tabs, 5.x

#3194 feat: Tabs 支持拖拽 & Modal 支持根据滚动位置来控制头尾部边框的显示 & 修改样式问题 (5.0)
  .changeset/angry-experts-kneel.md
  .changeset/eight-roses-sin.md
  .changeset/rotten-schools-run.md
  packages/ui/cascader/stories/search.stories.tsx
  packages/ui/message/src/styles/message.scss
  packages/ui/modal/src/Modal.tsx
  packages/ui/modal/src/styles/modal.scss
  packages/ui/modal/stories/scroll.stories.tsx
  packages/ui/number-input/src/styles/number-input.scss
  packages/ui/picker/src/styles/picker.scss
  packages/ui/stepper/src/styles/stepper.scss
  packages/ui/switch/src/Switch.tsx
  packages/ui/switch/src/styles/switch.scss
  packages/ui/tabs/package.json
  packages/ui/tabs/src/TabInk.tsx
  packages/ui/tabs/src/TabItem.tsx
  packages/ui/tabs/src/TabList.tsx
  packages/ui/tabs/stories/draggable.stories.tsx
  yarn.lock
Labels: comp:stepper, comp:message, comp:switch, comp:numberinput, 5.x, comp:picker

#3200 chore: update changeset file text (5.0)
  .changeset/wicked-seals-give.md
Labels: 5.x

#3208 fix(select): 修复多级分组下分组标题左间距不对问题 (#3207)
  .changeset/lovely-icons-move.md
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/select/src/Select.tsx
  packages/ui/select/src/SelectOption.tsx
  packages/ui/select/src/SelectOptionGroup.tsx
  packages/ui/select/src/styles/select.scss
Labels: PR: Bug fix 🔧, comp:select, 4.x, comp:checkselect
