Repository XiaoMi/hiui, pull requests merged in 2025-09, with the labels that each got.

#3305 feat(table): 增加 fixedToRow api，支持设置行固定到顶部或底部 (#3304)
  .changeset/mighty-ears-brake.md
  packages/ui/table/src/BaseTable.tsx
  packages/ui/table/src/TbodyContent.tsx
  packages/ui/table/src/context.ts
  packages/ui/table/src/styles/table.scss
Labels: PR: New feature 👍, comp:table, 4.x

#3306 fix(time-picker): 优化默认值处理逻辑，确保在没有传值时使用默认值 (3302)
  .changeset/nice-turkeys-pump.md
  packages/ui/time-picker/src/TimePicker.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:timepicker

#3307 fix(date-picker&time-picker): 修复在日期时间范围选择模式下，disabledHours 回调参数总数返回 s…
  .changeset/early-pots-build.md
  packages/ui/date-picker/src/components/panel.tsx
  packages/ui/time-picker/src/PopContent.tsx
Labels: PR: Bug fix 🔧, comp:datepicker, 4.x, comp:timepicker

#3311 style(cascader&check-cascader): 调整下拉框样式，增加搜索框宽度设置 (5.0)
  .changeset/shy-pets-kiss.md
  packages/ui/cascader/src/styles/cascader.scss
  packages/ui/check-cascader/src/styles/check-cascader.scss
Labels: comp:cascader, comp:checkcascader, 5.x

#3316 perf: 对下拉选择类组件的 customRender 的内容增加 memoization 以优化性能 (5.0)
  .changeset/proud-pans-raise.md
  packages/ui/cascader/src/Cascader.tsx
  packages/ui/check-cascader/src/CheckCascader.tsx
  packages/ui/check-select/src/CheckSelect.tsx
  packages/ui/check-tree-select/src/CheckTreeSelect.tsx
  packages/ui/date-picker/src/components/root.tsx
  packages/ui/select/src/Select.tsx
  packages/ui/tree-select/src/TreeSelect.tsx
Labels: comp:select, comp:datepicker, comp:cascader, comp:checkselect, comp:checkcascader, comp:checktreeselect, comp:treeselect, 5.x

#3318 feat(check-cascader): 增加 checkbox 级联禁用功能和相关样式调整 (5.0)
  .changeset/happy-crabs-allow.md
  packages/ui/check-cascader/hi-docs.config.mdx
  packages/ui/check-cascader/src/CheckCascaderMenu.tsx
  packages/ui/check-cascader/src/types.ts
  packages/ui/check-cascader/src/utils/index.ts
  packages/ui/check-cascader/stories/disabled-checkbox-cascaded.stories.tsx
  packages/ui/check-cascader/stories/index.stories.tsx
  packages/ui/checkbox/src/styles/checkbox.scss
Labels: comp:checkcascader, comp:checkbox, 5.x

#3326 fix(check-cascader): 修复 onChange 第三个参数返回的值和类型不匹配问题 (#3325)
  .changeset/few-plants-refuse.md
  packages/ui/check-cascader/src/CheckCascader.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:checkcascader

#3328 fix(table): 优化列宽设置逻辑，确保在列变化时准确计算并更新列宽 (#3327)
  .changeset/cool-radios-juggle.md
  packages/ui/table/src/hooks/use-col-width.ts
Labels: PR: Bug fix 🔧, comp:table, 4.x

#3330 fix(table): 修复设置 scrollbar 后冻结列失效问题 (#3329)
  .changeset/cool-scissors-tell.md
  packages/ui/table/hi-docs.config.mdx
  packages/ui/table/src/BaseTable.tsx
Labels: PR: Bug fix 🔧, comp:table, 4.x

#3333 style(drawer): 修改投影
  .changeset/breezy-laws-sniff.md
  .changeset/small-terms-compete.md
  packages/core/core-css/src/styles/tokens/shadow.scss
  packages/ui/drawer/src/styles/drawer.scss
Labels: comp:drawer, corecss, 5.x

#3336 fix(use-search-mode): 优化初次搜索逻辑 (#3335)
  .changeset/lemon-meals-jog.md
  packages/hooks/use-search-mode/src/index.ts
Labels: 4.x, comp:checkcascader, comp:checktreeselect

#3346 fix(ellipsis-tooltip): 修复 numberOfLines 无效问题 & children 兼容传空和 React 元素的情况 (5.0)
  .changeset/honest-pillows-punch.md
  packages/ui/ellipsis-tooltip/src/EllipsisTooltip.tsx
Labels: PR: Bug fix 🔧, ellipsistooltip, 5.x

#3359 feat(table): tablecolumnitem 支持泛型
  packages/ui/table/src/types.ts
Labels: comp:table, 5.x
