Repository XiaoMi/hiui, pull requests merged in 2025-08, with the labels that each got.

#3242 feat(check-cascader): 增加全选功能 (5.0)
  .changeset/few-ants-argue.md
  packages/ui/check-cascader/src/CheckCascader.tsx
  packages/ui/check-cascader/src/hooks/use-check.ts
  packages/ui/check-cascader/src/utils/index.ts
  packages/ui/check-cascader/stories/check-all.stories.tsx
  packages/ui/check-cascader/stories/index.stories.tsx
Labels: PR: New feature 👍, comp:checkcascader, 5.x

#3249 fix(check-tree-select): 完善 dataSource 功能，支持搜索结果高亮和展开 (#3247)
  .changeset/great-beans-clap.md
  packages/hooks/use-search-mode/src/index.ts
  packages/ui/check-tree-select/src/CheckTreeSelect.tsx
  packages/ui/check-tree-select/stories/data-source.stories.tsx
  packages/ui/check-tree-select/stories/index.stories.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:checktreeselect

#3250 fix(date-picker): disabledDate 回调的时间参数加上 utcOffset 处理 (5.0)
  .changeset/four-comics-sing.md
  packages/ui/date-picker/src/hooks/useCalenderData.tsx
  packages/ui/date-picker/src/utils/index.tsx
  packages/ui/date-picker/stories/utc-offset.stories.tsx
Labels: PR: Bug fix 🔧, comp:datepicker, 4.x

#3259 fix(check-tree-select): 优化数据处理逻辑
  packages/ui/check-tree-select/src/CheckTreeSelect.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:checktreeselect

#3261 fix(tag-input): 修复 TagInputMock 组件中标签最大数量逻辑及更新 tagsWidth 的处理方式 (#3260)
  .changeset/neat-paws-call.md
  packages/ui/tag-input/src/TagInputMock.tsx
Labels: PR: Bug fix 🔧, 4.x, taginputmock

#3264 style(picker): 移除 picker 组件中的 __text 样式定义 (5.0)
  .changeset/early-trees-wave.md
  packages/ui/picker/src/styles/picker.scss
Labels: 5.x, comp:picker

#3267 style(layout): 修改 Sider 收起时宽度为 60px & 增加 width 参数 (5.0)
  .changeset/modern-bobcats-destroy.md
  packages/ui/layout/src/Sider.tsx
  packages/ui/layout/src/styles/sider.scss
  packages/ui/menu/src/Menu.tsx
  packages/ui/menu/src/MenuItem.tsx
  packages/ui/menu/src/MenuSearch.tsx
  packages/ui/menu/src/context.ts
  packages/ui/menu/src/styles/menu.scss
Labels: comp:menu, 5.x, comp:layout

#3270 fix(menu): 添加国际化支持，更新“更多”菜单项的标题为本地化文本
  .changeset/nervous-islands-wash.md
  packages/ui/menu/src/Menu.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:menu

#3275 fix(form): 优化 valueType 为 number 情况下的校验逻辑 (#3274)
  .changeset/sharp-avocados-beam.md
  packages/ui/form/src/use-form-field.ts
  packages/ui/form/stories/validate.stories.tsx
Labels: PR: Bug fix 🔧, comp:form, 4.x

#3277 fix(form): 处理规则消息为空的情况，将其设置为 undefined (#3276)
  .changeset/late-pots-explode.md
  packages/ui/form/src/use-form-field.ts
Labels: PR: Bug fix 🔧, comp:form, 4.x

#3279 fix(number-input): 为加减按钮添加 type 属性，确保按钮行为符合标准 (#3278)
  .changeset/sour-moons-eat.md
  packages/ui/number-input/src/NumberInput.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:numberinput

#3283 chore(table): export SettingDrawer types (5.0)
  .changeset/silly-plants-march.md
  packages/ui/table/src/SettingDrawer.tsx
  packages/ui/table/src/index.ts
Labels: comp:table, 5.x

#3284 style(slider): 新版样式调整 (5.0)
  .changeset/clean-bikes-marry.md
  packages/ui/slider/src/styles/slider.scss
Labels: comp:slider, 5.x

#3293 fix(preview): 兼容 src 内容为空的情况 & 优化预览图片的展示 (5.0)
  .changeset/soft-doors-hear.md
  packages/ui/preview/src/Preview.tsx
  packages/ui/preview/src/styles/preview.scss
Labels: comp:preview, 5.x

#3298 fix(table): 优化 useColSorter 钩子，移除不必要的 columnsLatestRef 引用，直接使用 column…
  .changeset/light-comics-return.md
  packages/ui/table/src/hooks/use-col-sorter.ts
Labels: comp:table, 5.x

#3299 style(layout): 在折叠状态下为 FloatMenuContainer 组件添加 z-index 属性 (5.0)
  .changeset/three-bananas-drive.md
  packages/ui/layout/src/styles/float-menu-container.scss
Labels: 5.x, comp:layout

#3301 style(tag-input): 增加 flex-wrap 属性以优化标签换行展示 (5.0)
  .changeset/stupid-feet-roll.md
  packages/ui/tag-input/src/styles/tag-input-mock.scss
Labels: comp:checkselect, comp:checkcascader, comp:checktreeselect, taginputmock, 5.x
