Repository XiaoMi/hiui, pull requests merged in 2025-07, with the labels that each got.

#3213 style(core-css): 更新灰色调色板的颜色值和 shadow 值 (5.0)
  .changeset/blue-games-add.md
  .changeset/long-icons-know.md
  .changeset/orange-glasses-beam.md
  .changeset/tidy-peaches-smash.md
  packages/core/core-css/src/styles/themes/shadow.scss
  packages/core/core-css/src/styles/tokens/color.scss
  packages/core/core-css/src/styles/tokens/shadow.scss
  packages/ui/back-top/src/styles/back-top.scss
  packages/ui/card/src/styles/card.scss
  packages/ui/cascader/src/styles/cascader.scss
  packages/ui/check-cascader/src/styles/check-cascader.scss
  packages/ui/check-select/src/styles/check-select.scss
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/drawer/src/styles/drawer.scss
  packages/ui/message/src/styles/message.scss
  packages/ui/modal/src/styles/modal.scss
  packages/ui/notification/src/styles/notification.scss
  packages/ui/picker/src/Picker.tsx
  packages/ui/popper/src/styles/popper.scss
  packages/ui/select/src/styles/select.scss
  packages/ui/switch/src/styles/switch.scss
  packages/ui/table/src/styles/table.scss
  packages/ui/time-picker/src/TimePicker.tsx
  packages/ui/time-picker/src/styles/selector.scss
  packages/ui/tooltip/src/styles/tooltip.scss
  packages/ui/tree/src/styles/editable-tree.scss
  packages/ui/tree/src/styles/tree.scss
  packages/ui/upload/src/styles/upload.scss
Labels: corecss, 5.x

#3219 feat(table): TableColumnItem 类型增加 minWidth 参数 (#3216)
  .changeset/silly-comics-bow.md
  packages/ui/table/src/hooks/use-col-width.ts
  packages/ui/table/src/types.ts
  packages/ui/table/src/utils/index.ts
  packages/ui/table/stories/resizable.stories.tsx
Labels: PR: New feature 👍, comp:table, 4.x

#3221 feat(number-input): add suffix api (5.0)
  .changeset/new-walls-sing.md
  packages/ui/number-input/src/NumberInput.tsx
  packages/ui/number-input/src/styles/number-input.scss
  packages/ui/number-input/stories/addon.stories.tsx
Labels: PR: New feature 👍, comp:numberinput, 5.x

#3224 style: 修改样式 (5.0)
  .changeset/strange-rice-sort.md
  packages/ui/alert/src/icons.tsx
  packages/ui/button/src/styles/flat.scss
  packages/ui/button/src/styles/line.scss
  packages/ui/date-picker/src/components/footer.tsx
  packages/ui/date-picker/src/styles/date-picker.scss
  packages/ui/time-picker/src/Input.tsx
  packages/ui/time-picker/src/TimePicker.tsx
  packages/ui/time-picker/src/styles/time-picker.scss
Labels: comp:datepicker, comp:timepicker, comp:button, comp:alert, 5.x

#3225 perf(cascader): 增加 virtual 参数，支持虚拟滚动 (5.0)
  .changeset/sixty-donuts-switch.md
  packages/ui/cascader/src/Cascader.tsx
  packages/ui/cascader/src/CascaderMenuList.tsx
  packages/ui/cascader/src/context.ts
  packages/ui/cascader/stories/index.stories.tsx
  packages/ui/cascader/stories/virtual.stories.tsx
  packages/ui/check-cascader/src/CheckCascader.tsx
  packages/ui/check-cascader/src/CheckCascaderMenu.tsx
  packages/ui/check-cascader/src/CheckCascaderMenuList.tsx
  packages/ui/check-cascader/src/context.ts
  packages/ui/check-cascader/src/styles/check-cascader.scss
  packages/ui/check-cascader/src/utils/index.ts
  packages/ui/check-cascader/stories/index.stories.tsx
  packages/ui/check-cascader/stories/virtual.stories.tsx
  packages/ui/tag-input/src/TagInputMock.tsx
Labels: comp:cascader, comp:checkcascader, taginputmock, 5.x

#3229 fix(provider): 显示声明 children 类型 (#3228)
  .changeset/silent-roses-press.md
  packages/ui/locale-context/src/LocaleProvider.tsx
  packages/ui/portal-context/src/PortalProvider.tsx
  packages/ui/provider/src/Provider.tsx
  packages/ui/provider/stories/portal.stories.tsx
Labels: PR: Bug fix 🔧, 4.x, comp:provider

#3231 feat(cascader): onChange 回调中增加选中项对象参数返回 (#3230)
  .changeset/popular-boxes-love.md
  packages/ui/cascader/src/use-cascader.ts
  packages/ui/check-cascader/src/CheckCascader.tsx
Labels: PR: New feature 👍, comp:cascader, 4.x, comp:checkcascader

#3234 fix(table): 修复列宽计算逻辑，确保最小列宽默认为60
  packages/ui/table/src/hooks/use-col-width.ts
  packages/ui/table/src/utils/index.ts
  packages/ui/table/stories/resizable.stories.tsx
Labels: PR: Bug fix 🔧, comp:table, 4.x

#3235 feat(menu): add showTitleOnMini api (5.0)
  .changeset/thick-seahorses-think.md
  packages/ui/menu/src/Menu.tsx
  packages/ui/menu/src/styles/menu.scss
  packages/ui/menu/stories/index.stories.tsx
  packages/ui/menu/stories/show-title-on-mini.stories.tsx
Labels: comp:menu, 5.x

#3239 fix(tag-input): 修复 contained 模式下 displayRender 设置无效问题 (5.0)
  .changeset/forty-bulldogs-chew.md
  packages/ui/cascader/stories/appearance.stories.tsx
  packages/ui/tag-input/src/TagInputMock.tsx
Labels: comp:checkselect, comp:checkcascader, comp:checktreeselect, taginputmock, 5.x

#3240 feat(input&number-input): add styles and classNames api (5.0)
  .changeset/chatty-penguins-taste.md
  packages/ui/input/src/Input.tsx
  packages/ui/number-input/src/NumberInput.tsx
  packages/ui/number-input/stories/index.stories.tsx
  packages/ui/number-input/stories/styles.stories.tsx
Labels: comp:input, comp:numberinput, 5.x

#3243 feat(picker&popper): 增加 styles 属性以支持自定义样式 & Picker 增加 gutterGap api (5.0)
  .changeset/wet-donkeys-invite.md
  packages/ui/picker/src/Picker.tsx
  packages/ui/popper/src/Popper.tsx
Labels: comp:popper, 5.x, comp:picker

#3244 feat(menu): 增加 MenuSearch 组件 (5.0)
  .changeset/young-carrots-drive.md
  packages/ui/menu/package.json
  packages/ui/menu/src/EnterIcon.tsx
  packages/ui/menu/src/MenuSearch.tsx
  packages/ui/menu/src/index.ts
  packages/ui/menu/src/styles/index.scss
  packages/ui/menu/src/styles/menu-search.scss
  packages/ui/menu/src/util.ts
  packages/ui/menu/stories/index.stories.tsx
  packages/ui/menu/stories/menu-search.stories.tsx
Labels: comp:menu, 5.x

#3246 feat(date-picker): add utcOffset api (#3232)
  .changeset/thirty-news-melt.md
  packages/ui/date-picker/src/DatePicker.tsx
  packages/ui/date-picker/src/components/calendar.tsx
  packages/ui/date-picker/src/components/panel.tsx
  packages/ui/date-picker/src/components/range-panel.tsx
  packages/ui/date-picker/src/context.ts
  packages/ui/date-picker/src/hooks/useCalenderData.tsx
  packages/ui/date-picker/src/hooks/useData.ts
  packages/ui/date-picker/src/types.ts
  packages/ui/date-picker/src/utils/index.tsx
  packages/ui/date-picker/stories/index.stories.tsx
  packages/ui/date-picker/stories/utc-offset.stories.tsx
Labels: PR: New feature 👍, comp:datepicker, 4.x

#3241 feat(pop-confirm): PopConfirm组件支持以api方式调用 (5.0)
  .changeset/breezy-impalas-shout.md
  packages/ui/pop-confirm/src/PopConfirm.tsx
  packages/ui/pop-confirm/src/index.ts
  packages/ui/pop-confirm/src/use-pop-confirm.ts
  packages/ui/pop-confirm/src/with-api.tsx
  packages/ui/pop-confirm/stories/index.stories.tsx
  packages/ui/pop-confirm/stories/with-api.stories.tsx
Labels: PR: New feature 👍, comp:popconfirm, 5.x
